# PROBLEM 2

In [32]:
import pandas as pd

cars = pd.read_csv('cars.csv')

cars[1:6:2]

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1

In [29]:
cars.loc[cars['Model']=='Mazda RX4']

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [28]:
cars.loc[cars['Model'] == 'Camaro Z28', ['cyl']]

    cyl
23    8

In [27]:
cars.loc[ (cars['Model'] == 'Mazda RX4 Wag') | 
(cars['Model'] == 'Ford Pantera L') |
(cars['Model'] == 'Honda Civic'), 
['cyl', 'gear']]

    cyl  gear
1     6     4
18    4     4
28    8     5